.container {
  width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

a {
  text-decoration: none;
}

#header {
  background: rgba(38, 39, 43, 0.33);
  backdrop-filter: blur(27.5px);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
}
#header .header--logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  line-height: 38px;
  color: #FFFFFF;
}
#header .header--log {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #FFFFFF;
  position: absolute;
  margin: 12px 0 0 55px;
}
#header .header--img {
  position: absolute;
  margin: 0 0 20px 90px;
}
#header .header--search {
  margin-left: 28%;
  color: white;
}
#header .header--input {
  position: absolute;
  left: 18%;
  padding: 13px 100px 13px 27px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 41px;
  outline: none;
  background: transparent;
  color: white;
}
#header .header--menu {
  position: absolute;
  left: 50%;
}
#header .header--menu a:hover {
  color: #EEB563;
}
#header .header--menu a {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 15px;
}
#header .header--person {
  margin-left: 60%;
  color: white;
}
#header .header--wall {
  color: white;
}

#hero .hero--img {
  position: absolute;
  left: 66%;
  top: 26%;
}
#hero .hero--206 {
  position: absolute;
  left: 80%;
  top: 32%;
}
#hero .hero--star3 {
  position: absolute;
  left: 18%;
  top: 30%;
}
#hero .hero--star03 {
  position: absolute;
  left: 73%;
  top: 47%;
}
#hero .hero--Ellipse {
  position: absolute;
  left: 24%;
  top: 56%;
}
#hero .hero--border {
  position: absolute;
  left: 85%;
  top: 65%;
}
#hero .hero--star2 {
  position: absolute;
  left: 23%;
}
#hero .hero--nft {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  display: flex;
  justify-content: center;
  padding: 70px 0 35px 0;
}
#hero .hero--Discover {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
  margin-left: 14%;
  width: 70%;
  text-align: center;
}
#hero .hero--Find {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10%;
  color: white;
  text-align: end;
  position: absolute;
}
#hero .hero--round {
  position: absolute;
  top: 99%;
  left: 19%;
}
#hero .hero--star7 {
  position: absolute;
  top: 101.5%;
  left: 20.3%;
}
#hero .hero--nftImg {
  position: absolute;
  margin-left: 31%;
  margin-top: 1%;
  padding: 100px 0;
}
#hero .hero--bgr {
  margin-left: 48%;
  margin-top: 12%;
}
#hero .hero--hapebeast {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  position: absolute;
  left: 75%;
  top: 140%;
}
#hero .hero--star08 {
  position: absolute;
  left: 30%;
  top: 180%;
}
#hero .hero--ellips202 {
  position: absolute;
  top: 105%;
  left: 78%;
}
#hero .hero--ellipse204 {
  margin-left: 2%;
}
#hero .hero--png8 {
  position: absolute;
  top: 150%;
  left: 20%;
}
#hero .hero--png7 {
  position: absolute;
  left: 10%;
  top: 125%;
}
#hero .hero--h1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 200px;
  margin-left: 80px;
}
#hero .hero--h2 {
  margin-left: 90px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#hero4 .hero4--title01 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #F1B864;
  text-align: center;
  margin: 20% 0 0 0;
}
#hero4 .hero4--top {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
}
#hero4 .hero4--in {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #F7A659;
  text-align: center;
}
#hero4 .hero4--star14 {
  position: absolute;
  left: 55.8%;
  top: 262.8%;
}
#hero4 .hero4--block {
  border: 1px solid #BCBCBC;
  border-radius: 13px;
}

/*# sourceMappingURL=style.css.map */
