@import "mixins";
@import "varables";
@import "reset";
@import "global";

#header {
  background: rgba(38, 39, 43, 0.33);
  backdrop-filter: blur(27.5px);
  width: 100%;
  position: fixed;
  .header {
    @include between;
    padding: 35px 0;
    &--logo {
      @include logo;
    }
    &--log {
      @include log;
    }
    &--img {
      position: absolute;
      margin: 0 0 20px 90px;
    }
    &--search {
      margin-left: 28%;
      color: $white;
    }
    &--input {
      @include input;
      color: white;
    }
    &--menu {
      position: absolute;
      left: 50%;
      a:hover {
        color: #EEB563;
      }
      a {
        @include menu;
      }
    }
    &--person {
      margin-left: 60%;
      color: $white;
    }
    &--wall {
      color: $white;
    }
  }
}
#hero {
  .hero {
    &--img{
      @include img;
    }
    &--206{
      position: absolute;
      left: 80%;
      top: 32%;
    }
    &--star3{
      position: absolute;
      left: 18%;
      top: 30%;
    }
    &--star03{
      position: absolute;
      left: 73%;
      top: 47%;
    }
    &--Ellipse{
      position: absolute;
      left: 22%;
      top: 56%;
    }
    &--border{
      position: absolute;
      left: 85%;
      top: 65%;
    }
    &--star2{
      position: absolute;
      left: 23%;
    }
    &--nft {
      @include nft;
    }
    &--Discover {
      @include Discover;
    }
    &--Find{
      @include title;
    }
    &--round{
      position: absolute;
      top: 99%;
      left: 19%;
    }
    &--star7{
      position: absolute;
      top: 101.5%;
      left: 20.3%;
    }
    &--nftImg{
      position: absolute;
      margin-left: 31%;
      margin-top: 1%;
      padding: 100px 0;
    }
    &--bgr{
      margin-left: 48%;
      margin-top: 12%;
    }
    &--hapebeast{
      @include h3;
    }
    &--star08{
      position: absolute;
      left: 30%;
      top: 180%;
    }
    &--ellips202{
      position: absolute;
      top: 105%;
      left: 78%;
    }
    &--ellipse204{
      margin-left: 2%;
    }
    &--png8{
      position: absolute;
      top: 150%;
      left: 20%;
    }
    &--png7{
      position: absolute;
      left: 10%;
      top: 125%;
    }
    &--h1{
      @include h1;
    }
    &--h2{
      margin-left: 90px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
#hero4{
  .hero4{
    &--title01{
      @include title01;
    }
    &--block0{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &--top{
      @include top;
    }
    &--in{
      @include in;
    }
    &--star14{
      position: absolute;
      left: 55.8%;
      top: 256%;
    }
    &--star15{
      position: absolute;
      margin-left: 58%;
      margin-top: 15%;
    }
    &--texend{
      @include texend;


    }
    &--rec27{
      margin-top: 7%;
      margin-left: 15%;
    }
    &--block{
      border: 1px solid #BCBCBC;
      border-radius: 13px;
      padding: 10px 15px;
      margin-top: 10%;

      @include block;
      &__bored{
        @include bored;
      }
      &__one{
        @include one;
      }
      &__Floor{
        @include Floor;
      }
      &__nombers{
        @include nombers;
      }
      &__img36{
        @include img36;
        img{
          margin-bottom: -5px;
          margin-right: 5px;
        }
      }
    }
  }
}
#NFT-family{
  .NFT-family{
    &--create{
      @include create;
      text-align: center;
    }
    &--img{
      position: absolute;
      margin-top: -7%;
    }
    &--img2{
      position: absolute;
      margin-left: 70%;
      margin-top: -2%;
    }
    &--img3{
      position: absolute;
      margin: 9% 9%;
      border-radius: 15px;
    }
    &--img4{
      margin: 10% 20% 10% 10%;
      border-radius: 15px;
    }
    &--img5{
      position: absolute;
      margin-top: -5%;
      margin-left: 20%;
    }
    &--family{
      @include family;
    }
    &--creator{
      @include creator;
      margin-top: 10%;
      text-align: center;
      img{
        margin-bottom: -4px;
        margin-left: 4px;
      }
    }
  }
}
#Recourse{
  .Recourse{
    &--recourse{
      @include recourse;
      img{
        margin-bottom: -4px;
      }
    }
    &--block{
      @include between;
      color: $white;
      border-bottom: solid 1px white;
      margin-bottom: 30px;
      &__every{
        @include every;
      }
      &__wallet{
        @include wallet;
        margin: 20px 0;
      }
      &__setup{
        @include setup;
        margin-top: -70px;
        img{
          margin-bottom: -2px;
          padding: 0 5px;
        }
      }
    }

    &--Getting{
      @include Getting;
    }
    &--star18{
      position: absolute;
      margin-left: 84%;
      margin-top: -2%;
    }
    &--arint{
      display: flex;
      justify-content: space-between;
      margin-top: 2%;
      margin-bottom: 10px;
      border-bottom: solid 1px white;
      &__int{
        @include int;
        margin-bottom: 15px;
      }
      &__article{
        @include int;
        margin-bottom: 15px;
      }
    }
  }
}
#Read-More{
  .Read-More{
    &--title{
      @include read;
    }
    &--img{
      position: absolute;
      margin-left: 80%;
    }
    &--rectagle{
      margin-left: 7%;
    }
    &--star19{
      position: absolute;
      margin-left: 27%;
    }
    &--input{
      border: 1px solid #B5B5B5;
      border-radius: 9px;
      background: transparent;
      padding: 17px 150px 17px 25px;
      color: $white;
      margin-left: 70%;
      margin-top: 5%;
    }
    &--vector{
      margin-bottom: -23px;
      margin-left: -55px;
      background: #FE773B;
      border-radius: 2px;
      padding: 12px 12px;
    }
    &--block1{
      @include between;
      color: $white;
      margin-top: 5%;
      &__star21{
        margin-left: 20%;
      }
      &__accaunt{
        @include accaunt;
        margin: 30px 0;
      }
      &__company{
        @include accaunt;
        margin-left: -40px;
      }
      &__stay{
        @include stay;
      }
      &__logo{
        display: flex;
        &--sea{
          @include sea;
        }
        &--rcher{
          display: flex;
          align-items: center;
          margin-bottom: -15px;
          @include rcher;
        }
        &--star{
          position: absolute;
          margin-top: -15px;
          margin-left: 17%;
        }
      }
    }
    &--block2{
      @include between;
      color: $white;
      a{
        margin: 0 7px;
      }
      &__block3{
        display: flex;
        align-items: center;
        &--2022{
          @include NFT;
        }
        img{
          margin-top: -30px;
          margin-left: -7px;
        }
        &--ones{
          @include ones;
        }
      }
      margin: 10% 0 5% 0;
      &__NFT{
        @include NFT;
      }
    }
  }
}